[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
requests = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
jupyter = "*"
matplotlib = "*"
mlflow = "*"
boto3 = "*"
s3fs = "*"
flask = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
